h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 400;
    margin-bottom: 80px;
    font-size: 48px;
}

h2:after{
    content: '';
    display: block;
    width: 164px;
    height: 7px;
    background: #1abc9c;
    margin: 30px auto;
}

.card {
    float: left;
    margin-right: 25px;
    font-size: 0;
    margin-bottom: 20px
}

.card:nth-child(4n+4) {
    margin-right: 0;
}

.name {
    text-transform: uppercase;
    float: left;
    background: #323232;
    font-size: 18px;
    width: 80%;
    color: #FFF;
    line-height: 40px;
    text-align: center;
}

.price {
    float: right;
    background: #8c8c8c;
    font-size: 18px;
    width: 20%;
    line-height: 40px;
    text-align: center;
}



.main {
    margin-top: 47px;

}
section {
    margin-bottom: 50px;}

.news{
    float:left;
    width: 350px;
    margin-right: 25px;
    font-family: 'Open Sans', sans-serif;
    
}

.news:last-child {margin-right: 0;}

 .news img{
    width: 350px;
    height: 262px;
    margin-bottom: 15px;
}

h3 {font-size: 18px;}

h3:after{
    content: '';
    display: block;
    width: 164px;
    height: 3px;
    background: #1abc9c;
    margin:15px 0 30px;
}


p {
    font-size: 14px;
    margin-bottom: 15px;
}


button {
    height: 45px;
    width:160px;
    background-color: #4ec6ab ;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    border-radius:5px;
    border: 2px solid transparent; 
}

.card:nth-child(6) .name {
    background-color: #1abc9c;}

.card:nth-child(6) .price {
    background-color: #7fd9c7;
}